.closebutton
{
  margin:10px;
}

.App textarea
{
  border:none;
  width:100%;
  background-color:#FAFAFA;
}

.post-item
{
  width:700px;
}

.user-avatar
{
  display:inline-block;
  margin:5px;

}


.modal-body
{
  display:inline-flex;
}